<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>

</head>
<h:body>
    <ui:composition>
        <ui:define name="data">
            <h2>Wybierz datę pobytu</h2>
<h:form>


            <p:panel header="Visit" style="margin-bottom:2vh;">
                <h:panelGrid columns="4">
                    <p:outputLabel for="fromDate" value="From:" />
                    <p:calendar id="fromDate" value="#{data.from}" mode="inline" />

                    <p:outputLabel for="toDate" value="To:" />
                    <p:calendar id="toDate" value="#{data.to}" mode="inline" />
                </h:panelGrid>
            </p:panel>
</h:form>
        </ui:define>

    </ui:composition>

</h:body>
</html>	