<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
    <title>JSF 2.0 Hello World</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="css/starter-template.css" rel="stylesheet"/>
</h:head>
<h:body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SPA DLA PSA</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/layout.xhtml">Home</a></li>
                    <li><a href="/Offer.xhtml">Usługi</a></li>
                    <li><a href="/Reservation.xhtml">Rezerwuj termin</a></li>
                    <li><a href="/reservationData.xhtml">Rezerwuj termin</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <br></br>
    <br></br>
    <br></br>

    <div class="container">

        <h4>Cześć #{owner.name} !</h4>
        <h4>Wybierz usługi dla #{dog.name} </h4>

        <h:form>
            <h:selectManyCheckbox value="#{spaBig.checkedValues}">
                <f:selectItem itemValue="#{spaBig.strzyzenie}" itemLabel="Strzyzenie uy "/>
                <f:selectItem itemValue="#{spaBig.spacer}" itemLabel="spacer"/>
                <f:selectItem itemValue="#{spaBig.kapiel}" itemLabel="kapiel"/>
                <f:selectItem itemValue="#{spaBig.bieganie}" itemLabel="bieganie"/>
                <f:selectItem itemValue="#{spaBig.dieta}" itemLabel="dieta"/>
            </h:selectManyCheckbox>
            <h:commandButton value="Dalej" action="ReservationStep3Big"/>
        </h:form>


    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" src="js/ie10-viewport-bug-workaround.js"></script>

</h:body>
</html>